<html>
    <body>
        <form action="/produtos/salva" method="post"> 
            <div>
                <label for="nome">Titulo</label>
                <input type="text" id="nome" name="nome" placeholder="coloque o titulo do livro aqui">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="coloque o preço">
            </div>
            <div>
                <label for="descricao">descricao</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="coloque a descricao do livro aqui"></textarea>
            </div>

            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>